/* 清除样式 */
body,
p,
ul {
    margin: 0;
}
input,
ul {
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
em {
    font-style: normal;
}
input {
    outline: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/* 整体布局 */
body {
    background-color: #f4f4f4;
    font-family: tahoma,arial;
}
.wrap {
    width: 1190px;
    margin: 0 auto;
}

/* 全局样式 */
a {
    color: #666;
}
a:hover {
    color: #ff5000;
}

/* 其他样式 */
.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    width: 100%;
}
.bg-top {
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
}
.bg-adv {
    height: 70px;
    background-color: #ffb0b9;
}
.bg-head {
    height: 140px;
    background-color: #fff;
}
.page-top {
    height: 35px;
    border-bottom: 1px solid #eee;
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 35px;
}
.span-v {
    display: inline-block;
    width: 8px;
    height: 5px;
    margin-left: 10px;
    background: url("img/icon-2.png") no-repeat -4px -25px;
    line-height: 35px;
    vertical-align: 2px;
}
.page-top-left {
    float: left;
}
.page-top-left li {
    float: left;
    padding: 0 7px;
}
.page-top-red {
    color: #f22e00;
}
.page-top-move {
    position: relative;
    left: -6px;
}
.page-top-right {
    float: right;
    color: #e8e2dd;
}
.page-top-right li {
    float: left;
    padding: 0 7px;
}
.page-top-r-icon {
    display: inline-block;
    padding-right: 5px;
    width: 12px;
    height: 23px;
}
.r-icon-1 {

    background: url("img/r-icon-1.png") no-repeat 0 11px;
}
.r-icon-2 {
    background: url("img/r-icon-2.png") no-repeat 0 11px;
}
.r-icon-3 {
    background: url("img/r-icon-3.png") no-repeat 0 14px;
}
.adv-top {
    height: 70px;
    background: #ffb0b9 url("img/adv-top.jpg") no-repeat 0 0;
}
header {
    position: relative;
    height: 140px;
    background-color: #fff;
}
.bg-left {
    position: absolute;
    left: -140px;
    width: 140px;
    height: 325px;
    background: url("img/bg-left.png") no-repeat;
}
.bg-right {
    position: absolute;
    right: -167px;
    width: 167px;
    height: 347px;
    background: url("img/bg-right.png") no-repeat;
}
.hd-logo {
    position: relative;
    width: 190px;
    height: 140px;
}
.hd-logo img {
    width: 190px;
    height: 130px;
    margin: 5px 0;
}
.seach {
    position: absolute;
    top: 43px;
    left: 258px;
    width: 630px;
    height: 85px;
}
.seach-top {
    position: absolute;
    left: 17px;
    height: 20px;
    padding-top: 2px;
    font-size: 12px;
    color: #ff4400;
    line-height: 12px;
}
.seach-top li {
    float: left;
    padding: 6px 5px 4px;
}
.seach-top li:hover {
    color: #ff5400;
    cursor: pointer;
    background-color: #ffeee5;
}
.seach-act {
    background-color: #ff8800;
    color: #fff;
    font-weight: bold;
    border-radius: 4px 4px 0 0;
}
#seach-input {
    position: absolute;
    top: 22px;
    width: 560px;
    height: 36px;
    /* padding-left: 27px; */
    border: 2px solid #ff5000;
    background: url("img/ico-seach.png") no-repeat 12px 11px;
    font-size: 12px;
    color: #9c9c9c;
    border-radius: 18px 0 0 18px;
}
#seach-img {
    position: absolute;
    top: 31px;
    right: 91px;
    width: 23px;
    height: 19px;
}
#seach-button {
    position: absolute;
    top: 22px;
    right: 0;
    width: 74px;
    height: 40px;
    border: 0;
    background: -webkit-linear-gradient(90deg, #ff9000, #ff5000);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(90deg, #ff9000, #ff5000);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(90deg, #ff9000, #ff5000);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg, #ff9000, #ff5000);
    /* 标准的语法 */
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 0 18px 18px 0;
}
.seach-bottom {
    position: absolute;
    bottom: 2px;
    font-size: 12px;
    line-height: 12px;
}
.seach-bottom li {
    float: left;
    margin-right: 8px;
    font-size: 12px;
    line-height: 12px;
}
.seach-btm-more {
    position: absolute;
    right: -97px;
    color: #a1afd3;
}
.seach-btm-more span {
    margin-left: 2px;
}
.hd-download {
    position: absolute;
    top: 43px;
    right: 110px;
    width: 74px;
    height: 88px;
    border: 1px solid #eee;
}
.hd-download span {
    padding: 13px;
    font-size: 12px;
    color: #ff5000;
}
.hd-download img {
    margin: 2px 6px;
    width: 62px;
    height: 62px;
}
nav {
    height: 30px;
    background-color: #ff5000;
}
.nav-noact {
    float: left;
    width: 190px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 30px;
}
.nav-ul {
    float: left;
    width: 1000px;
    height: 30px;
    background: -webkit-linear-gradient(90deg, #ff8600, #ff5000);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(90deg, #ff8600, #ff5000);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(90deg, #ff8600, #ff5000);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(90deg, #ff8600, #ff5000);
    /* 标准的语法 */
}
.nav-ul li {
    float: left;
    color: #ffe9d5;
    line-height: 30px;
}
.nav-ul a {
    position: relative;
    display: block;
    z-index: 2;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
}
.nav-ul em {
    font-size: 16px;
    padding: 3px;
}
.nav-ul a:hover {
    overflow: visible;
}
.nav-ul a:before {
    position: absolute;
    display: block;
    z-index: 3;
    top: -11px;
    left: 50%;
    margin-left: -11px;
    content: "";
    width: 22px;
    height: 13px;
    background: url("img/before.png") no-repeat;
}
section {
    position: relative;
}
.menu {
    float: left;
    margin-top: -1px;
    width: 188px;
    height: 520px;
    background-color: #fff;
    border: 1px solid #ff5000;
}
.menu ul {
    margin-top: 5px;
}
.menu ul a {
    padding: 0 4px;
}
.menu li {
    position: relative;
    height: 32px;
    font-size: 14px;
    text-indent: 21px;
    line-height: 32px;
}
.menu li:hover {
    background-color: #ffe4dc;

}
.menu span {
    display: block;
    position: absolute;
    top: 12px;
    right: 13px;
    width: 5px;
    height: 7px;
    background: url("img/arrow.png") no-repeat;
}
.adv {
    float: left;
    width: 690px;
    height: 511px;
    margin: 10px;
}
.adv-t-l {
    float: left;

}
.adv-t-r {
    float: right;
}
.adv-d-l {
    float: left;
    position: relative;
    margin-top: 27px;
    width: 520px;
    height: 198px;
    border-top: 3px solid #ff1648;
}
.adv-d-l img {
    width: 129px;
    height: 198px;
    border-right: 1px solid #ebebeb;
}
.adv-d-l span {
    position: absolute;
    z-index: -99;
    top: -18px;
    left: 2px;
    width: 120px;
    height: 18px;
    overflow: hidden;
}
.adv-d-l span img {
    width: 120px;
    height: 18px;
}
.adv-d-l em {
    position: absolute;
    top: -16px;
    left: 136px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    color: #666;
}
.no-border {
    display: inline;
    border: 0;
}
.no-border img {
    width: 130px;
    border: 0;
}
.adv-d-r {
    float: right;
    position: relative;
    top: 28px;
    right: 0;
}
.adv-d-r span {
    position: absolute;
    top: -17px;
    font-size: 14px;
    line-height: 14px;
    color: #a1a1a1;
}
.news {
    position: absolute;
    bottom: -100px;
    width: 890px;
    height: 100px;
    background: #fff url("img/tbao.png") no-repeat 20px 28px;
}
.ne-l-title {
    position: absolute;
    left: 20px;
    top: 63px;
    height: 12px;
    font-size: 12px;
    color: #999;
    line-height: 12px;

}
.ne-article {
    position: absolute;
    top: 16px;
    left: 200px;
    width: 690px;
    height: 71px;
}
.ne-article img {
    float: left;
    padding-right: 14px;
}
.ne-article em {
    display: inline-block;
    width: 280px;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ne-article span {
    position: absolute;
    right: 20px;
    top: 3px;
    font-size: 12px;
    line-height: 12px;
}
.ne-article p {
    height: 33px;
    margin-right: 17px;
    font-size: 14px;
    line-height: 18px;
    color: #999;
    overflow: hidden;
}

.use-info {
    background: red;
    position: absolute;
    top: 40px;
    right: 0;
    width: 290px;
    height: 279px;
    border-bottom: 1px solid #f4f4f4;
    background: url("img/use-bg.png") no-repeat;
    background-size: 290px 145px;
}
.use {
    margin: 0 auto;
    width: 52px;
    text-align: center;
}
.use img {
    margin-top: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}
.use span {
    font-size: 12px;
    line-height: 12px;
}
.us-vip {
    margin-left: 42px;
    margin-top: 2px;
}
.us-vip li {
    float: left;
    height: 17px;
    margin-left: 5px;
    padding-right: 11px;
    border-radius: 5px;
    background: #ffe4db url("img/icon-1.png") no-repeat 1px -572px;
    font-size: 12px;
    line-height: 17px;
    text-indent: 21px;
}
.us-vip a {
    color: #ff5000;
}
.us-button {
    position: relative;
    width: 282px;
    height: 52px;
    padding-left: 8px;
}
.us-button li {
    display: block;
    float: left;
    background-color: #ff6905;
    margin-left: 7px;
    margin-top: 11px;
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    border-radius: 3px;
}
.us-button li a {
    padding: 0 22px;
    font-weight: bold;
    color: #fff;
}
.us-but-go {
    width: 92px;
    text-align: center;
}
.us-table {
    width: 100%;
    height: 134px;
    margin-top: 10px;
}
.tab-report {
    display: block;
    width: 290px;
    height: 28px;
    background-color: #ffe4dd;
    font-size: 12px;
    color: #f40;
    line-height: 28px;
    text-align: center;
}
.tab-report span {
    display: block;
    position: relative;
    top: -19px;
    left: 231px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid red;
}
.us-table {
	background-color: #fff;
	border-bottom: 1px solid #f4f4f4;
}
.us-table ul {
	margin-left: 15px;
}    
.us-table li {
	float: left;
	margin: 16px 10px 0;
	width: 32px;
	font-size: 12px;
	line-height:18px;
	text-align: center;
}
.us-table li:hover{
	border-bottom: 2px solid #f40;
	font-weight:bold;
}
.tab-article {
	position: absolute;
	top: 224px;
	left: 12px;
	font-size: 12px;
	line-height: 25px;
}
.tab-article a {
	display: block;
}
.us-ic-work{
	position: absolute;
	top: 320px;
	right: 0;
	width: 289px;
	height: 230px;
	background-color: #fff;
}
.us-ic-work li {
	float: left;
	width: 71px;
	height: 76px;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.us-ic-work .ic-no-border {
	border-right: 0;
}
.us-ic-work ul span {
	display: block;
	position: relative;
	left: 50%;
	bottom: -13px;
	margin-left: -12px;
	width: 24px;
	height: 24px;
	background: url(img/icon-1.png) no-repeat;
}
.us-ic-work a{
	display: block;
	position: relative;
	top: 23px;
	font-size: 12px;
	text-align: center;
}
.us-ic-app {
	position: absolute;
	top: 551px;
	right: 0;
	width: 289px;
	height: 110px;
	background-color: #fff;
}
.us-ic-app i{
	margin: 15px;
	height: 12px;
	font-size: 12px;
	font-weight: bold;
}
.us-ic-app ul {
	margin-top: 5px;
	margin-left: 15px;
}
.us-ic-app li {
	float: left;
	margin: 4px 10px;
	width: 32px;
	height: 32px;
	background: url("img/icon (1).webp") no-repeat;
	background-size: 32px 32px;
}
.ic-app-more {
	position: relative;
	left: 170px;
    font-weight: normal;
}