body,
dl,
dd,
ul,
li,
h1,
h2,
h3,
h4,
a,
p,
input,
form,
button,
textarea {
    margin: 0;
    padding: 0;
    font-family: 'microsoft YaHei', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
button,
input,
    {
    font-size: 100%;
}

em,
i {
    font-style: normal;
}

strong {
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    display: block;
    border: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}