/* 主栏 */

.first-img {
    margin-bottom: 30px;
}

/* 侧边栏 */

.about-me p {
    padding: 0 15px;
    font-size: 1.1em;
}

.labeling a {
    display: inline-block;
    margin-bottom: 10px;
}

.labeling a:hover {
    text-decoration: none;
}

.weChat {
    width: 100%;
    height: 100%;
}

.weChat img {
    width: 100%;
    height: 100%;
}